<div class="container-fluid">
  <ul class="nav nav-tabs mt-2 justify-content-end">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link" routerLinkActive="active"
        >Inicio</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/cardapio" class="nav-link" routerLinkActive="active"
        >Cardapio</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/carrinho" class="nav-link" routerLinkActive="active"
        >Carrinho</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/pedidos" class="nav-link" routerLinkActive="active"
        >Meus Pedidos</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="/fale-conosco" class="nav-link" routerLinkActive="active"
        >Fale Conosco</a
      >
    </li>
  </ul>
</div>
