<form class="container m-3" style="width: 50%;">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      placeholder="Digite seu nome"
      #nome
    />
  </div>
  <div class="form-group">
    <label for="cpf">CPF</label>
    <input
      type="text"
      class="form-control"
      id="cpf"
      placeholder="Digite seu CPF"
      #cpf
    />
  </div>
  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input
      type="text"
      class="form-control"
      id="telefone"
      placeholder="Digite seu telefone"
      #telefone
    />
  </div>
  <div class="form-group">
    <label for="endereco">Endereco Completo</label>
    <input
      type="text"
      class="form-control"
      id="endereco"
      placeholder="Digite seu Endereco"
      #endereco
    />
  </div>
  <button class="btn btn-lg btn-primary" (click)="enviaPedido()">
    Enviar Pedido
  </button>
</form>
<!---->
