<h1 class="m-3">Fale Conosco</h1>
<hr style="border: 5px solid #006491; border-radius: 20px;" />
<div class="container m-4">
  <form class="container m-3" style="width: 50%;">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        placeholder="Digite seu nome"
      />
    </div>
    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input
        type="text"
        class="form-control"
        id="telefone"
        placeholder="Digite seu telefone"
      />
    </div>
    <div class="form-group">
      <label for="mensagem">Digite sua mensagem</label>
      <textarea
        type="text"
        class="form-control"
        id="mensagem"
        placeholder="Digite sua mensagem"
        rows="4"
      ></textarea>
    </div>
    <button class="btn btn-lg btn-primary">Enviar Pedido</button>
  </form>
</div>
